body{
    background-image: url("https://i.imgur.com/PQMBPgg.jpg");
    background-size: auto 100vh;
    font-family: Arial;
    height: 100vh;
  }
  .menu{
    background-color: #E8E7E4;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  .menu li {
    list-style: none;
  }
  
  a{color: #9B8E27;
    text-decoration: none;
    }
  
  a:hover{
    text-decoration: underline;
  }
  
  .site-subtitle,
  .site-title{
    color: #1D1B0D;
    text-align: center;
  }
  
  .site-subtitle
  {
    font-style: italic;
  }